body {
    width: 100%;
    height: 200px; /* Sahifa balandligi */
    /* position: relative; */
    /* overflow-y: scroll;  */
}
#animatedDiv {
    width: 500px;
    height: 500px;
    position: absolute; 
    top: 0; /* Dastlabki joylashuv */
    left: 10px; /* Chapdan joylashuvi */
    transition: top 2s; /* Animatsiya davomiyligi */
    background-repeat: no-repeat;
    margin-top: -330px;
}


.cart{
    width: 100%;
    height: 100vh;
    /* border: 2px solid black; */
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.box{
    width: 600px;
    height: 450px;
    /* border: 2px solid black; */
    /* border: 2px solid black; */
}
.box1{
    width: 500px;
    height: 500px;
    /* border: 2px solid black; */
    position: relative;/* Vertikal scroll yoqiladi */

    
    background-size: 500px;
}
.img{
    width: 450px;
    height: 450px;
    background-image: url("../../assents/Untitled-1.png");
    background-size: 450px;

}
.text{
    width: 100%;
    font-size: 5px;
    /* border: 2px solid black; */
    font-size: 20px;
    margin-top: 500px;
}
.box h1{
    text-align: left;
    font-size: 60px;
}
.box p{
    text-align: left;
    margin-top: 20px;
    font-size: 22px;
}
.box button{
    /* margin-left: -200px; */
    background-color: rgb(71, 201, 86);
    display: flex;
    justify-content: center;
    place-items: center;
    text-align: center;
    margin-top: 30px;
    width: 250px;
    height: 55px;
    margin-top: 50px;
    
    
}
.box button:hover{
    background-color: rgb(59, 150, 69);
    cursor: pointer;
   
}
/* .text{
    width: 200%;
    margin-top: -100px;

    border: 2px solid black;
    text-align: right;
} */
@media only screen and (max-width:1290px) {
    .cart{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        height: 100vh;
    }
    .box1{
        width: 500px;
        background-size: 500px;
        background-repeat: no-repeat;
        margin-top: 100px;
    }
    .box{
        width: 500px;
    }
    .text{
        width: 100%;
        font-size: 20px;
    }
    

}
@media only screen and (max-width:1118px) {
    .box{
        width: 400px;
    }
    .box h1{
        font-size: 40px;
    }
    .box p{
        font-size: 26px;
    }
    .box button{
        width: 150px;
        height: 40px;
        border-radius: 20px;
    }
    .img{
        width: 400px;
        height: 400px;
        background-size: 400px;

    }
    .box1{
        width: 400px;
        height: 400px;
        margin-top: 0px;
    }
}
@media only screen and (max-width:825px) {
    .cart{
        display: grid;
        grid-template-columns: 1fr ;
        width: 100%;
        height: 200vh;
    }
#animatedDiv {
    left: 0px;
    width: 400px;
    height: 400px;
}
.box{
    margin-top: -90px;
}

    .box h1{
        font-size: 40px;
    }
    .box p{
        font-size: 25px;
    }
    .box1{
        width: 400px;
        background-size: 400px;
        background-repeat: no-repeat;
        margin-top: -260px;
    }

}
