*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menyu{
  width: 30%;
  height: 110vh;
  background-color: rgb(13, 13, 13);
  margin-top: -100px;
  margin-left: -10px;
  display: inline;
  z-index: 1;
  position: relative;
  top: 80px;

}
.menyu p{
  margin-top: 50px;
  margin-left: 100px;
  cursor: pointer;
}
.menyu2{
  width: 100%;
  height: 110vh;
  background-color: black;
  display: inline;
  position: absolute;
  margin-top: -100px;
  margin-left: 100px;
  top: 80px;
}
